packages:
  apt:
    git-core: []
    libmysqlclient-dev: []
    libxml2-dev: []
    libxslt-dev: []
    libevent-dev: []
    libqt4-dev: []
    build-essential: []
    ntp: []
    imagemagick: []
    libpq-dev: []
    libsqlite3-dev: []
    build-essential: []
    python-pip: []
    python-dev: []
    python-setproctitle: []
    virtualenvwrapper: []

option_settings:
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: giraffe.py
    NumProcesses: 3
    NumThreads: 20